.input-component {
  display: flex;
  flex-direction: column;
  width: max-content;
  font-size: 1.2rem;
  gap: 5px;
}

.input-component input {
  padding: 18px 12px;
  font-size: 1.4rem;
  border: 1px solid #828282;
  border-radius: 8px;
  color: #333333;
}

.input-component input::placeholder {
  color: #828282;
}

.input-component--error {
  color: #d32f2f;
}

.input-component--error input {
  border-color: #d32f2f;
}

.input-component--disabled input {
  border: 1px solid #e0e0e0;
  background-color: #f2f2f2;
  cursor: not-allowed;
}

.input-component .helper-text {
  font-size: 1.2rem;
  color: #828282;
}

.input-component--error .helper-text {
  color: #d32f2f;
}

.input-component--with-start-icon input {
  padding-left: 36px;
}

.input-component--with-end-icon input {
  padding-right: 36px;
}

.input-component .field {
  display: flex;
  align-items: center;
  position: relative;
}
