.input-component {
  display: flex;
  flex-direction: column;
  width: max-content;
  font-size: 1.2rem;
  gap: 5px;
}

.input-component input {
  padding: 18px 12px;
  font-size: 1.4rem;
  border: 1px solid #828282;
  border-radius: 8px;
  color: #333333;
}

.input-component input::placeholder {
  color: #828282;
}
